* {
    box-sizing: content-box;
}

header {
    margin: 1rem 2vmin;
}

header .navbar li a {
    font-size: large;
}

header > nav > div > a {
    color: #0e9fed;
}

header > nav > div > button > i {
    color: #0e9fed;
}

header .navbar-toggler:focus {
    box-shadow: 0px 0px 0px 0.2rem #0e9fed;
    clip: auto;
}

.main {
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    top: 4rem;
}

.message {
    height: auto;
    margin: 2vmin;
}

.message .card{
    height: auto;
    background: white;
    border: 0.1rem solid #0e9fed;
    border-radius: 10px;
}

.message .card span{
    font-style: italic;
    font-size: 10px;
}

.message .card p{
    font-size: 1em;
}

p {
    user-select: none;
}